In [39]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\priyanka\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
#importing necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys

# Q1. 10 Data analyst job positions in bangalore details.

In [41]:
#Connecting to webcriver.
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [42]:
#opening the desired site
driver.get('https://www.naukri.com/')

In [43]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [44]:
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [45]:
#specifying the url of the web page to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [46]:
#opening the webpage through the web driver
driver.get(url)

In [47]:
Title=[]
Company=[]
Location=[]
Experience=[]
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title[0:10]:
    Title.append(i.text)

    
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company[0:10]:
    Company.append(i.text)
    
    
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loc[0:10]:
    Location.append(i.text)
    
    
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp[0:10]:
    Experience.append(i.text)

In [49]:
jobs=pd.DataFrame({})
jobs['Title']=Title
jobs['Company_Name']=Company
jobs['Location']=Location
jobs['Experience']=Experience
jobs

,Title,Company_Name,Location,Experience
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,"Chennai, Pune, Bengaluru, Hyderabad",5-9 Yrs
6,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
8,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
9,NiFi Data Analyst,Capgemini Technology Services India Limited,Bengaluru,4-6 Yrs

In [50]:
driver.close()

# Q2. Scrape job-title, job-location, company_name, full job-description of Data Scientist job position in Bangalore.

In [65]:
#Connecting to webcriver.
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [66]:
#opening the website
driver.get('https://www.naukri.com/')

In [67]:
#finding element for job search bar and location search bar
search=driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Scientist')
loc=driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Bangalore')
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [68]:
#specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [69]:
#Extracting th informtaion from the site
location=[]
name=[]
title=[]

t=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in t[0:10]:
    title.append(i.text)

    
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in l[0:10]:
    location.append(i.text)

    
n=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in n[0:10]:
    name.append(i.text)

In [70]:
tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
urls=[i.get_attribute('href') for i in tags[0:10]]
urls

['https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16133711307929286&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16133711307929286&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-commerce-bu-blue-yonder-india-private-limited-bengaluru-bangalore-4-to-6-years-010221901825?src=jobsearchDesk&sid=16133711307929286&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-atos-syntel-private-limited-chennai-pune-mumbai-bengaluru-bangalore-12-to-18-years-220719001543?src=jobsearchDesk&sid=16133711307929286&xp=4&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16133711307929286&xp=5&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-090221006526?src=jobsearchDesk&sid=16133711307929286&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16133711307929286&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16133711307929286&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-and-senior-data-scientist-academic-operations-randstad-india-pvt-ltd-bengaluru-bangalore-2-to-5-years-080221007079?src=jobsearchDesk&sid=16133711307929286&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-analyst-data-scientist-mindtree-limited-bengaluru-bangalore-10-to-15-years-040221502130?src=jobsearchDesk&sid=16133711307929286&xp=10&px=1']

In [71]:
Description=[]
for i in urls:
    driver.get(i)
    d=driver.find_element_by_xpath("//div[@class='dang-inner-html' or @class='clearboth description' or @class='f14 lh18 alignJ disc-li']")
    Description.append(d.text)

In [72]:
#combining the data collected in a dataframe
list=pd.DataFrame({})
list['Job_Title']=title
list['Company_Name']=name
list['Location']=location
list['Job_Description']=Description
list

,Job_Title,Company_Name,Location,Job_Description
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,Data Scientist - Data Mining/ Machine Learning...
1,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
2,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,"Roles and Responsibilities\nUnder guidance, or..."
3,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,..."
4,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar..."
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",Role Sr. Data Scientist\n\nExp. 12 – 20 years\...
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad","Roles and Responsibilities\nSkill : NLP,Semant..."
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
8,Data Scientist and Senior Data Scientist Acade...,RANDSTAD INDIA PVT LTD,Bengaluru,We are hiring Data Scientist and Senior Data S...
9,Sr. Analyst-Data Scientist,Mindtree Limited,Bengaluru,Role Description:\nA Sr. Data Scientist who le...

In [73]:
driver.close()

# Q3. Scrape data for 10 data scientist job with filter of salary and location.

In [74]:
#Connecting to webcriver.
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [75]:
#opening the website
driver.get('https://www.naukri.com/')

In [76]:
#finding element for job search bar
search=driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Scientist')
btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn.click()

In [77]:
#clicking the checkbox required
driver.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']/i").click()

In [78]:
#clicking thr checkbox required
driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i").click()

In [79]:
#specifying the url of the webpage to be scraped
driver.get('https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6')

In [80]:
title=[]
location=[]
company=[]
exp=[]

ti=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in ti[0:10]:
    title.append(i.text)

    
lo=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in lo[0:10]:
    location.append(i.text)
    
    
co=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in co[0:10]:
    company.append(i.text)
    
    
ex=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in ex[0:10]:
    exp.append(i.text)

In [81]:
job=pd.DataFrame({})
job['Job_Title']=title
job['Location']=location
job['Comapany_Name']=company
job['Experience_Required']=exp
job

,Job_Title,Location,Comapany_Name,Experience_Required
0,Data Scientist,Delhi,Child Health Imprints,1-4 Yrs
1,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
2,Data Scientist,Gurgaon,Shadowfax Technologies Pvt. Ltd.,1-3 Yrs
3,Data Scientist Operational Research,Gurgaon,Delhivery,1-3 Yrs
4,Python Developer,Noida,GNEC Media Pvt. Ltd,2-5 Yrs
5,Data Engineer,Gurgaon,Splash M,2-4 Yrs
6,Data Analyst,Delhi NCR,Happy Shappy,2-5 Yrs
7,Python Developer - AWS/Flask,Gurgaon,Brain Box Network,2-4 Yrs
8,Senior Data Analyst,Gurgaon,Weatherbug,2-4 Yrs
9,Senior Data Analyst,"Faridabad, Hyderabad",Eli Research India Private limited,3-5 Yrs

In [82]:
driver.close()

# Q4. Scrape data for 10 job results for Data Scientist position in noida.

In [83]:
#Connecting to webcriver.
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [84]:
#opening the website
driver.get('https://www.glassdoor.co.in/index.htm')

In [85]:
#finding element for job search bar
driver.find_element_by_id('sc.keyword').send_keys('Data Scientist')

In [86]:
#finding element for location search bar
driver.find_element_by_id('sc.location').send_keys(Keys.BACKSPACE*9,'Noida')

In [87]:
#findng element for the search button
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']/span").click()

In [88]:
#specifying the url of the webpage
driver.get('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm')

In [89]:
#extracting information
desig=[]
comp=[]
days=[]
rat=[]


d=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span")
for i in d[0:10]:
    desig.append(i.text)

    
c=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span")
for i in c[0:10]:
    comp.append(i.text)
    
d=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']/div[2]")
for i in d[0:10]:
    days.append(i.text)
    
r=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in r[0:10]:
    rat.append(i.text)

In [90]:
noida=pd.DataFrame({})
noida['Designation']=desig
noida['Company_Name']=comp
noida['No. of days posted']=days
noida['Rating']=rat
noida

,Designation,Company_Name,No. of days posted,Rating
0,Data Scientist,Biz2Credit Inc,30d+,3.7
1,Data Scientist,Adobe,6d,4.4
2,Data Scientist,Emerging India Group,30d+,4.0
3,Data Scientist,WishFin,15d,5.0
4,Data Scientist - Flexible Office Homeoffice Re...,Stirah,24h,5.0
5,,Singh RanjayKumar(Proprietor Of Zee India Co),1d,4.3
6,Machine Learning Engineer/ Data Scientist,Dürr Somac GmbH,30d+,3.0
7,Data Analytics Internship,Yellow Class,3d,4.4
8,Data Scientist,Techlive,30d+,5.0
9,Principal Data Scientist,Kronos Incorporated,4d,4.2

In [91]:
driver.close()

# Q5. Scrape salary data for 10 Data Scientist job in Noida.

In [221]:
#Connecting to webcriver.
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [222]:
#opening the website
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [223]:
#searching element for job search bar, locatrion search bar and search button.
driver.find_element_by_id('KeywordSearch').send_keys('Data Scientist')
driver.find_element_by_id('LocationSearch').send_keys(Keys.BACKSPACE*9,'Noida')
driver.find_element_by_id('HeroSearchButton').click()

In [224]:
#extracting information
company=[]
num=[]
avg=[]
min=[]
max=[]

com=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in com[0:10]:
    company.append(i.text)

    
n=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
for i in n[0:10]:
    num.append(i.text)
    
a=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in a[0:10]:
    avg.append(i.text)
    
mi=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in mi[0:10]:
    min.append(i.text)
    
ma=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in ma[0:10]:
    max.append(i.text)

In [225]:
#creating a dataframe to store extracted information
salary=pd.DataFrame({})
salary['Company_Name']=company
salary['Number_of_Salary']=num
salary['Average_Salary']=avg
salary['Minimu_Salary']=min
salary['Maximum_Salary']=max
salary

,Company_Name,Number_of_Salary,Average_Salary,Minimu_Salary,Maximum_Salary
0,Delhivery,13 salaries,"₹ 12,64,182",₹450K,"₹11,630K"
1,Ericsson-Worldwide,12 salaries,"₹ 7,30,968",₹350K,"₹1,614K"
2,Tata Consultancy Services,11 salaries,"₹ 6,00,000",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989",₹576K,"₹1,500K"

In [226]:
driver.close()

# Q6. 100 sunglases detail from flipkart.

In [98]:
#connecting to webdriver
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [99]:
driver.get(' https://www.flipkart.com/')

In [100]:
#searching element for search bar
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input").send_keys('Sunglasses')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [101]:
#specifying thr url pf the webpage
driver.get('https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [103]:
#scraping the data
brand=[]
des=[]
price=[]
dis=[]

b=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
for i in b:
    brand.append(i.text)

    
d=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
for i in d:
    des.append(i.text)
    
    
p=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
for i in p:
    price.append(i.text)
    
    
di=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
for i in di:
    dis.append(i.text)

In [104]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()

In [105]:
driver.get('https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2')

In [106]:
b1=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
for i in b1:
    brand.append(i.text)

    
d1=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
for i in d1:
    des.append(i.text)
    
    
p1=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
for i in p1:
    price.append(i.text)
    
    
di1=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
for i in di1:
    dis.append(i.text)

In [107]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()

In [108]:
driver.get('https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3')

In [109]:
b2=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
for i in b2[0:20]:
    brand.append(i.text)


d2=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
for i in d2[0:20]:
    des.append(i.text)
    
    
di2=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
for i in di2[0:20]:
    dis.append(i.text)
    
    
p2=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
for i in p2[0:20]:
    price.append(i.text)

In [110]:
sun=pd.DataFrame({})
sun['Brand']=brand
sun['Product_Description']=des
sun['Price']=price
sun['Discount']=dis
sun

,Brand,Product_Description,Price,Discount
0,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹284,81% off
1,NuVew,UV Protection Aviator Sunglasses (Free Size),₹417,66% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹659,17% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,28% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,Royal Son,Mirrored Aviator Sunglasses (55),₹399,73% off
96,Poloport,UV Protection Wayfarer Sunglasses (Free Size),₹329,86% off
97,NuVew,UV Protection Aviator Sunglasses (57),₹195,75% off
98,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",₹449,77% off
99,NuVew,"UV Protection, Mirrored, Riding Glasses Round ...",₹448,73% off

In [111]:
driver.close()

# Q7. 100 reviews data from flipkart for iphone 11.

In [112]:
#connecting to the webdriver
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [113]:
#opening the site
driver.get(' https://www.flipkart.com/')

In [114]:
#searching the elements for search  button
driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input").send_keys('iphone 11 64 gb black')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [115]:
#specifying the url of the webpage
driver.get('https://www.flipkart.com/search?q=iphone%2011%2064%20gb%20black&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off')

In [116]:
url=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
main=url[1].get_attribute('href')
main

'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=2404a59b-e0f1-4299-ab07-76904307cdf3.MOBFKCTSVZAXUHGR.SEARCH&ssid=qq2g3ems340000001613372985259&qH=9d1cac2fd8606408'

In [117]:
driver.get(main)

In [118]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

In [119]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART')

In [120]:
r=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
urls=[i.get_attribute('href') for i in r[0:10]]
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGRRWP0SM&marketplace=FLIPKART&page=10']

In [132]:
rating=[]
description=[]
review=[]
for i in urls:
    driver.get(i)
    r=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    for j in r:
        rating.append(j.text)
    
    
    d=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in d:
        description.append(j.text)
    
    
    rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in rev:
        review.append(j.text)

In [134]:
summary=pd.DataFrame({})
summary['Rating']=rating
summary['Short_Description']=description
summary['Review']=review

In [135]:
summary

,Rating,Short_Description,Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,4,Delightful,Nice camera for front and back.. The display i...
96,5,Fabulous!,Best phone in this price segment people say th...
97,5,Terrific,I got this beast today. And I must say the pic...
98,5,Excellent,"Got mobile @56,990 on 8 oct 2020 when all othe..."
99,5,Terrific,Have used both iPhone X and iPhone XR and I ca...

In [136]:
driver.close()

# Q8. Scrape data for 100 sneakers on flipkart.com.

In [137]:
#connecting to the webdirver
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [138]:
#opening the website
driver.get('https://www.flipkart.com/')

In [139]:
#searching for the elements for search box.
driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input").send_keys('sneakers')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [140]:
#specifying the url of the website
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off')

In [141]:
urls=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
url=[i.get_attribute('href') for i in urls[0:3]]
url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3']

In [142]:
#scraping the information
brand=[]
des=[]
price=[]
dis=[]
for i in url:
    driver.get(i)
    b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in b:
        brand.append(j.text)
    
    
    d=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for j in d:
        des.append(j.text)
    
    
    p=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[1]")
    for j in p:
        price.append(j.text)
    
        
    di=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]/div[3]")
    for j in di:
        dis.append(j.text)

In [143]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brand[0:100]
sneakers['Product_Description']=des[0:100]
sneakers['Price']=price[0:100]
sneakers['Discount']=dis[0:100]
sneakers

,Brand,Product_Description,Price,Discount
0,Stinson,Combo Pack Of 2 Sneakers For Men,₹399,60% off
1,Crysta,349 NAVY BLUE Sneakers For Men,₹197,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹449,77% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Oricum,Combo pack of 2 casual sneaker shoes for men S...,₹398,60% off
...,...,...,...,...
95,Chevit,Chevit Trendy Fashion Sports Combo Pack of 3 P...,₹597,66% off
96,Oricum,ORIFWSH(OR)-1077 Sneakers For Men,₹214,57% off
97,Zsyto,Sneakers For Men,₹345,73% off
98,World Wear Footwear,Sneakers For Men,₹228,54% off
99,DOC Martin,Sneakers For Men,₹999,68% off

In [144]:
driver.close()

# Q9. Scrape Brand Name, Shoe description and price for 100 shoes from Myntra.

In [161]:
#connecting to the webdriver
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [162]:
#opening the website
driver.get('https://www.myntra.com/shoes')

In [163]:
#searching the elements for checkbox for color of the shoes "black".
driver.find_element_by_xpath("//label[@class='common-customCheckbox']//div[1]").click()

In [164]:
#searching for the elements for checkbox of price 6665-13110 i.e the second checkbox in the price list.
driver.find_element_by_xpath("//ul[@class='price-list']//li[2]").click()

In [165]:
#specifying the url of the website
driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6665.0_13110.0_6665.0%20TO%2013110.0')

In [166]:
a=driver.find_elements_by_xpath("//li[@class='pagination-active' or @class='pagination-number']/a")
link=([i.get_attribute('href') for i in a[0:2]])
link

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6665.0_13110.0_6665.0%20TO%2013110.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6665.0_13110.0_6665.0%20TO%2013110.0&p=2']

In [167]:
#scraping the information
Brand=[]
Description=[]
Price=[]
for i in link:
    driver.get(i)
    br=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for j in br:
        Brand.append(j.text)
    
    
    pr=driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
    for j in pr:
        Price.append(j.text)
    
    des=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for j in des:
        Description.append(j.text)

In [171]:
price=[]
for j in Price:
    if len(j)<10:
        price.append(j)
len(price)

100

In [173]:
shoes=pd.DataFrame({})
shoes['Shoe_Brand']=Brand
shoes['Shoe_Price']=price
shoes['Shoe_Description']=Description
shoes

      Shoe_Brand Shoe_Price               Shoe_Description
0           Nike   Rs. 7927        Men AIR MAX 90 Sneakers
1           Nike   Rs. 7996  PEGASUS FLYEASE Running Shoes
2           Nike   Rs. 7195  Men RENEW RUN 2 Running Shoes
3           Nike  Rs. 12495    Men JORDAN DELTA Basketball
4         ADIDAS   Rs. 9239   Men SOLAR DRIVE 19 M Running
..           ...        ...                            ...
95  UNDER ARMOUR   Rs. 9999     Women HOVR Rise 2 Training
96  UNDER ARMOUR  Rs. 10999     HOVR Sonic 3 Running Shoes
97          Geox   Rs. 8999          Women Solid Flatforms
98  Hush Puppies   Rs. 6999            Men Leather Loafers
99       Saint G   Rs. 7600     Women Leather Heeled Boots

[100 rows x 3 columns]

In [174]:
driver.close()

# Q10. Scrape title, rating and price for first 10 laptops from amazon.

In [3]:
#connecting to the webdriver
driver=webdriver.Chrome(executable_path= r'C:\Users\Priyanka\Documents\chromedriver.exe')

In [4]:
#opening the website
driver.get('https://www.amazon.in/')

In [5]:
#searching elements for the search box.
driver.find_element_by_id('twotabsearchtextbox').send_keys('Laptop')

In [6]:
driver.find_element_by_id('nav-search-submit-text').click()

In [7]:
#clicking on the checkbox 'Intel core i7'
driver.find_element_by_xpath("//li[@class='a-spacing-micro' and @id='p_n_feature_thirteen_browse-bin/12598163031']//label").click()

In [8]:
#clicking on the checkbox intel core i9
driver.find_element_by_xpath("//li[@class='a-spacing-micro' and @id='p_n_feature_thirteen_browse-bin/16757432031']//label").click()

In [9]:
#specifying the url of the website
driver.get('https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613455470&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17')

In [10]:
url=[]
tag=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in tag[0:10]:
    url.append(i.get_attribute('href'))
url

['https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_1?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-1',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-i7-10510U-14-dh1180tu/dp/B08GD8LQTY/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Lenovo-Windows-Graphics-Phantom-82AU00KKIN/dp/B08JLSBJCW/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-IdeaPad-15-6-inch-Windows-81Y400VAIN/dp/B08PV48PYW/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/HP-14-inch-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Graphics-UX425EA-BM701TS/dp/B08M4SWRR5/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Dell-15-6inch-i7-10750H-Warranty-D560250WIN9BE/dp/B08HYPRST4/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Acer-Nitro-Intel-i7-17-3-inch/dp/B08D1BY2VK/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-Laptop-i7-1065G7-Natural-14s-DR1010TU/dp/B08H2V92WV/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1613455470&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [13]:
name=[]
for i in url:
    driver.get(i)
    name.append(driver.find_element_by_xpath("//h1[@id='title']//span").text)
name

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 'Lenovo Legion 5i 10th Gen Intel Core i7 15.6 inch Full HD IPS Gaming Laptop (16GB/1TB HDD + 256GB SSD/Windows 10/120 Hz/NVIDIA GTX 1650 4GB GDDR6 Graphics/Phantom Black/2.3Kg), 82AU00KKIN',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'Acer Nitro 5 Intel i7 - 9th Gen 17.3-inch Display 1920 x 1080 Thin and Light Laptop (8GB Ram/1TB HDD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Obsidian Black/ 2.7 kgs),AN517-51',
 'HP 14 10th Gen Intel Core i7 Ultra Thin and Light FHD Laptop (i7-1065G7/8GB/512GB SSD/Win 10/MS Office 2019/Natural Silver/1.46 Kg), 14s-DR1010TU']

In [16]:
price=[]
for i in url:
    driver.get(i)
    p=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
    if p is not None:
            price.append(p.text[2:])
    else:
        price.append('-')
        
price

['50,999.00',
 '74,990.00',
 '89,990.00',
 '2,68,325.00',
 '77,990.00',
 '75,482.00',
 '96,133.00',
 '82,990.00',
 '74,980.00',
 '72,805.00']

In [28]:
contents=[]
ratings=[]
for i in url:
    driver.get(i)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    contents.append(soup)
    
for j in contents:
    r=j.find('div',attrs={'id':'averageCustomerReviews'})
    if r is not None:
        ratings.append(r.find('i').find('span').text)
    else:
        ratings.append('-')
ratings

['4.2 out of 5 stars',
 '3.5 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '3.8 out of 5 stars',
 '4.0 out of 5 stars',
 '4.3 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '3.4 out of 5 stars']

In [29]:
laptop=pd.DataFrame({})
laptop['Model']=name
laptop['Price']=price
laptop['Rating']=ratings
laptop

,Model,Price,Rating
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"50,999.00",4.2 out of 5 stars
1,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,"74,990.00",3.5 out of 5 stars
2,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,"89,990.00",4.2 out of 5 stars
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,68,325.00",5.0 out of 5 stars
4,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,"77,990.00",3.8 out of 5 stars
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"75,482.00",4.0 out of 5 stars
6,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,"96,133.00",4.3 out of 5 stars
7,Dell G3 3500 Gaming 15.6inch 120hz FHD Display...,"82,990.00",4.0 out of 5 stars
8,Acer Nitro 5 Intel i7 - 9th Gen 17.3-inch Disp...,"74,980.00",4.1 out of 5 stars
9,HP 14 10th Gen Intel Core i7 Ultra Thin and Li...,"72,805.00",3.4 out of 5 stars

In [30]:
driver.close()